csm-stream/models/llama32-1b.gguf

# Python
csm-stream/__pycache__/
csm-stream/*.py[cod]
csm-stream/*$py.class
csm-stream/*.so
csm-stream/.Python
csm-stream/build/
csm-stream/develop-eggs/
csm-stream/dist/
csm-stream/downloads/
csm-stream/eggs/
csm-stream/.eggs/
csm-stream/lib/
csm-stream/lib64/
csm-stream/parts/
csm-stream/sdist/
csm-stream/var/
csm-stream/wheels/
csm-stream/*.egg-info/
csm-stream/.installed.cfg
csm-stream/*.egg

# Virtual Environment
csm-stream/.env
csm-stream/.venv
csm-stream/env/
csm-stream/venv/
csm-stream/ENV/

# IDE
csm-stream/.idea/
csm-stream/.vscode/
csm-stream/*.swp
csm-stream/*.swo

# Project specific
csm-stream/.python-version
csm-stream/models/Llama-3.2-1B-Instruct-Q6_K_L.gguf
csm-stream/finetuned_model/

*.wav
csm-stream/output_*/
csm-stream/basic_audio.wav
csm-stream/full_conversation.wav
csm-stream/context_audio.wav

# Model files
csm-stream/*.pt
csm-stream/*.ckpt

# Other
csm-basic/customModels/__pycache__/

# Python
csm-basic/__pycache__/
csm-basic/*.py[cod]
csm-basic/*$py.class
csm-basic/*.so
csm-basic/.Python
csm-basic/build/
csm-basic/develop-eggs/
csm-basic/dist/
csm-basic/downloads/
csm-basic/eggs/
csm-basic/.eggs/
csm-basic/lib/
csm-basic/lib64/
csm-basic/parts/
csm-basic/sdist/
csm-basic/var/
csm-basic/wheels/
csm-basic/*.egg-info/
csm-basic/.installed.cfg
csm-basic/*.egg

# Virtual Environment
csm-basic/.env
csm-basic/.venv
csm-basic/env/
csm-basic/venv/
csm-basic/ENV/

# IDE
csm-basic/.idea/
csm-basic/.vscode/
csm-basic/*.swp
csm-basic/*.swo

# Project specific
csm-basic/.python-version
*.wav
csm-basic/output_*/
csm-basic/basic_audio.wav
csm-basic/full_conversation.wav
csm-basic/context_audio.wav

# Model files
csm-basic/*.pt
csm-basic/*.ckpt
