# Others
.fvmrc
.DS_Store
.metadata
.vscode
.github
environment/csm.pem


csm-stream/models/llama32-1b.gguf

# Python
csm-stream/__pycache__/
csm-stream/*.py[cod]
csm-stream/*$py.class
csm-stream/*.so
csm-stream/.Python
csm-stream/build/
csm-stream/develop-eggs/
csm-stream/dist/
csm-stream/downloads/
csm-stream/eggs/
csm-stream/.eggs/
csm-stream/lib/
csm-stream/lib64/
csm-stream/parts/
csm-stream/sdist/
csm-stream/var/
csm-stream/wheels/
csm-stream/*.egg-info/
csm-stream/.installed.cfg
csm-stream/*.egg

# Virtual Environment
csm-stream/.env
csm-stream/.venv
csm-stream/env/
csm-stream/venv/
csm-stream/ENV/

# IDE
csm-stream/.idea/
csm-stream/.vscode/
csm-stream/*.swp
csm-stream/*.swo

# Project specific
csm-stream/.python-version
csm-stream/models/Llama-3.2-1B-Instruct-Q6_K_L.gguf
csm-stream/finetuned_model/

*.wav
csm-stream/output_*/
csm-stream/basic_audio.wav
csm-stream/full_conversation.wav
csm-stream/context_audio.wav

# Model files
csm-stream/*.pt
csm-stream/*.ckpt

# Other
csm-basic/customModels/__pycache__/

# Python
csm-basic/__pycache__/
csm-basic/*.py[cod]
csm-basic/*$py.class
csm-basic/*.so
csm-basic/.Python
csm-basic/build/
csm-basic/develop-eggs/
csm-basic/dist/
csm-basic/downloads/
csm-basic/eggs/
csm-basic/.eggs/
csm-basic/lib/
csm-basic/lib64/
csm-basic/parts/
csm-basic/sdist/
csm-basic/var/
csm-basic/wheels/
csm-basic/*.egg-info/
csm-basic/.installed.cfg
csm-basic/*.egg

# Virtual Environment
csm-basic/.env
csm-basic/.venv
csm-basic/env/
csm-basic/venv/
csm-basic/ENV/

# IDE
csm-basic/.idea/
csm-basic/.vscode/
csm-basic/*.swp
csm-basic/*.swo

# Project specific
csm-basic/.python-version
*.wav
csm-basic/output_*/
csm-basic/basic_audio.wav
csm-basic/full_conversation.wav
csm-basic/context_audio.wav

# Model files
csm-basic/*.pt
csm-basic/*.ckpt

# Miscellaneous
csm_app/*.class
csm_app/*.log
csm_app/*.pyc
csm_app/*.swp
csm_app/.DS_Store
csm_app/.atom/
csm_app/.build/
csm_app/.buildlog/
csm_app/.history
csm_app/.svn/
csm_app/.swiftpm/
csm_app/migrate_working_dir/

# IntelliJ related
csm_app/*.iml
csm_app/*.ipr
csm_app/*.iws
csm_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
csm_app/**/doc/api/
csm_app/**/ios/Flutter/.last_build_id
csm_app/.dart_tool/
csm_app/.flutter-plugins
csm_app/.flutter-plugins-dependencies
csm_app/.pub-cache/
csm_app/.pub/
csm_app//build/

# Symbolication related
csm_app/app.*.symbols

# Obfuscation related
csm_app/app.*.map.json

# Android Studio will place build artifacts here
csm_app/android/app/debug
csm_app/android/app/profile
csm_app/android/app/release

# FVM Version Cache
csm_app/.fvm/
